<footer class="footer-container">
  <div class="psicologa">
    <div class="psico-title">
      <h1>Ariane Felice</h1>
    </div>
    <div class="psico-content">
      <p>Psicóloga<br />CRP 00/000000</p>
    </div>
  </div>
  <div class="media-social">
    <div class="social-title">
      <h1>Redes Sociais</h1>
    </div>
    <div class="social-links">
      <img src="/assets/img/icons/instagram_3955027.png" alt="logo-instagram" />
      <img src="/assets/img/icons/whatsapp_3536445.png" alt="logo-wathsapp" />
      <img src="/assets/img/icons/facebook_2504903.png" alt="logo-facebook" />
    </div>
  </div>
  <div class="contact">
    <div class="contact-title">
      <h1>Contatos.</h1>
    </div>
    <div class="contact-tel">
      <img src="/assets/img/icons/telefone.png" alt="" />
      <p>(+55) 11 99999-9999</p>
    </div>
    <div class="contact-email">
      <img src="/assets/img/icons/o-email.png" alt="" />
      <p>`email&email.com.br`</p>
    </div>
  </div>
  <div class="esdress">
    <div class="esdress-title">
      <h1>Endereço</h1>
    </div>
    <div class="esdress-loc">
      <p>
        Rua Lorem ipsum dolor sit amet consectetur<br />Rua Lorem ipsum dolor
        sit amet consectetur
      </p>
    </div>
  </div>
</footer>
