.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
}
.about-text {
  width: 40%;
  padding: 15px;
  margin-top: 5%;
  border-radius: 10px;
  color: rgb(90, 84, 84);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.about-text h1 {
  color: black;
}
.about-bt {
  text-align: center;
}
.about-img {
  width: 40%;
  padding: 15px;
  margin-top: 5%;
  text-align: center;
}
.about-img img {
  opacity: 80%;
}

figcaption {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  font-size: 12px;
}
.bold {
  font-weight: bold;
}
