<article class="about-container">
  <div class="about-text">
    <div class="about-title">
      <h1 class="bold">Sobre mim</h1>
    </div>
    <div class="about-content">
      <p>
        Olá! Me chamo <span class="bold"> Ariana Felice Nascimento</span>, sou
        psicóloga há mais de 12 anos, paulistana, praticante de Jiu-Jitsu e
        apaixonada pelo mar.
      </p>
      <p>
        Minha experiência profissional abrange tanto a área clínica, quanto a
        social, o que me fez desenvolver uma visão abrangente sobre saúde
        mental, além de um olhar atento e acolhedor, frente às situações de
        dificuldades e desafios enfrentados por cada indivíduo.
      </p>
      <p>
        Meu trabalho inicia-se a partir de uma escuta qualificada e sensível,
        acolhendo as dores e angústias dos meus pacientes, promovendo melhor
        compreensão de suas emoções, comportamentos e relações pessoais.
      </p>
      <p>
        Ofereço um espaço seguro e de confiança aos meus pacientes com o
        objetivo de auxilia-los na busca por autoconhecimento, elaborar e
        transformar desafios emocionais, em busca de uma vida mais equilibrada e
        satisfatória.
      </p>
      <p>
        Estou à disposição para caminhar ao seu lado nesse processo de
        autodescoberta, promovendo transformação significativa na sua vida.
      </p>
    </div>
    <div class="about-bt">
      <app-bt-saiba-mais />
    </div>
  </div>
  <div class="about-img">
    <figure>
      <img src="/assets/img/ari-nobg.png" alt="psicóloga-ariane" />
      <figcaption>Ariane Felice Nascimento.</figcaption>
    </figure>
  </div>
</article>
