<section class="mywork-container">
  @defer(on viewport){
  <div class="card" id="card1">
    <img src="/assets/img/icons/feliz.png" alt="" />
    <span>Buscam autoconhecimento e qualidade de vida</span>
  </div>
  <div class="card" id="card2">
    <img src="/assets/img/icons/surpreso.png" alt="" />
    <span>Sofrem com preocupação excessiva, inquietação</span>
  </div>
  <div class="card" id="card3">
    <img src="/assets/img/icons/calafrio.png" alt="" />
    <span>Tem dificuldade de relaxar e sofrem de alteração no sono.</span>
  </div>
  <div class="card" id="card4">
    <img src="/assets/img/icons/surpreso.png" alt="" />
    <span
      >Se sente cansado, se irrita facilmente, e tem dificuldade de
      concentração.</span
    >
  </div>
  <div class="card" id="card5">
    <img src="/assets/img/icons/triste.png" alt="" />
    <span>Se sente desanimado e triste, com baixa autoestima</span>
  </div>
  }@placeholder {
  <div class="placehoulder"></div>
  }
</section>
